.display-area {
    position: absolute;
    left: 250px; /* Adjust the left margin based on your layout */
    width: calc(100% - 250px);
    transition: left 250ms ease-in, width 250ms ease-in;
    overflow-x: hidden;
  }
  
.display-area-shrink {
    width: calc(100% - 60px); /* Adjust the width when the side navigation is toggled */
    left: 60px; /* Adjust the left margin when the side navigation is toggled */
  }
  
.row-border {
    border: 1px solid #ddd; /* Add border to the table */
    border-collapse: collapse;
  }
  
.hover tbody tr:hover {
    background-color: #f5f5f5; /* Change the background color on hover */
  }
  
.table-container {
    max-height: 400px; /* Set the max height you desire */
    overflow-y: auto; /* Enable vertical scroll when content exceeds the max height */
  }
  